@{
    ViewBag.Title = "Index";
}
<div style="width: 85%; margin:0 auto;">
    <table>
        <tr>
            <td>
                <h1 style="text-align:center;font-size: 46px;margin: 27px;">Task Manager</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h2 style="text-align:center;">If you want to use all of this application,you have to login or register!</h2>
            </td>
        </tr>
        <tr>
            <td>
                <p style="text-align:center;margin: 17px;">Welcome to My Task Manager web application.</p>
                <p style="text-align:center;">You can navigate to the different sections of the website using the menu above.</p>
            </td>
        </tr>
    </table>
</div>